<h1>{{ title }}</h1>
<div class="card">
<form action="">
<label for="number1" class="form-label">Número 1: </label>
<input type="number" name="numero1" id="number1" [(ngModel)]="numero1" class="form-control-sm">
<br>
<label for="number2" class="form-label">Número 2: </label>
<input type="number" name="numero2" id="number2" [(ngModel)]="numero2" class="form-control-sm">
<br>

<input type="submit" id="" value ="Sumar" (click) = "sumar($event)" class="btn btn-outline-primary btn-sm">

<input type="submit" id="" value ="Restar" (click) = "restar($event)" class="btn btn-outline-primary btn-sm">

<input type="submit" id="" value ="Multiplicar" (click) = "multiplicar($event)" class="btn btn-outline-primary btn-sm">

<input type="submit" id="" value ="Dividir" (click) = "dividir($event)" class="btn btn-outline-primary btn-sm">
</form>
</div>
<p>Resultado: {{ resultado }}</p>
<p>{{ resultado2 }}</p>
